<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>	
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.oceanclass.help.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.oceanclass.help.model.vo.Qna" alias="Qna"/>
		<typeAlias type="com.kh.oceanclass.help.model.vo.Faq" alias="Faq"/>
		
		<typeAlias type="com.kh.oceanclass.event.model.vo.Event" alias="Event"/>

		<typeAlias type="com.kh.oceanclass.store.model.vo.Product" alias="Product"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.ProductOption" alias="ProductOption"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.Stock" alias="Stock"/>
		
		<typeAlias type="com.kh.oceanclass.store.model.vo.StoreReview" alias="StoreReview"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.StoreReviewFile" alias="StoreReviewFile"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.StoreBuyList" alias="StoreBuyList"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.StoreRefund" alias="StoreRefund"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.StorePay" alias="StorePay"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.Cart" alias="Cart"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.StoreQna" alias="StoreQna"/>
		
		<typeAlias type="com.kh.oceanclass.store.model.vo.InProductOrder" alias="InProductOrder"/>
		<typeAlias type="com.kh.oceanclass.store.model.vo.StoreOrder" alias="StoreOrder"/>
				
		<typeAlias type="com.kh.oceanclass.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.oceanclass.member.model.vo.Teacher" alias="Teacher"/>
		
		<typeAlias type="com.kh.oceanclass.member.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.oceanclass.member.model.vo.MemCoupon" alias="MemCoupon"/>
		<typeAlias type="com.kh.oceanclass.member.model.vo.Coupon" alias="Coupon"/>
		<typeAlias type="com.kh.oceanclass.member.model.vo.Point" alias="Point"/>
		
		<typeAlias type="com.kh.oceanclass.Class.model.vo.ClassVo" alias="Class"/>
		<typeAlias type="com.kh.oceanclass.Class.model.vo.ClassReview" alias="ClassReview"/>
		<typeAlias type="com.kh.oceanclass.Class.model.vo.ClassOrder" alias="ClassOrder"/>
		<typeAlias type="com.kh.oceanclass.Class.model.vo.ClassRefund" alias="ClassRefund"/>
		<typeAlias type="com.kh.oceanclass.Class.model.vo.ClassQna" alias="ClassQna"/>
		
		<typeAlias type="com.kh.oceanclass.common.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.oceanclass.common.model.vo.CsQna" alias="CsQna"/>
		
		<typeAlias type="com.kh.oceanclass.common.model.vo.AdminStatistics" alias="AdminStatistics"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/help-mapper.xml" />
		<mapper resource="/mappers/adminHelp-mapper.xml" /> 
		<mapper resource="/mappers/instructorStore-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/adminMem-mapper.xml" />
		<mapper resource="/mappers/class-mapper.xml" />
		<mapper resource="/mappers/tcclass-mapper.xml" />
		<mapper resource="/mappers/mypage-mapper.xml" />
		<mapper resource="/mappers/tcmypage-mapper.xml" />
		<mapper resource="/mappers/event-mapper.xml" />
		<mapper resource="/mappers/store-mapper.xml" />
		<mapper resource="/mappers/adminStatistics-mapper.xml" />
	</mappers>
	
</configuration>