@charset "UTF-8";

.innerOuter{width:1000px; margin: auto;}
.headMenu{text-align: left;} 
.headMenu>b{font-size: 28px; font-weight: 800; margin-left: 10px; color: rgb(107, 171, 213);}

.content_1{width: 100%; text-align: left;}
.content_1>b{margin-left: 10px; font-size: 16px; line-height: 33px;}
.content_1 table{width: 550px; margin-left: 10px; vertical-align: middle;}
.content_1 table *{font-size: 14px;}
.content_1 table th{text-align: center;}
label[for="class"], label[for="store"]{top: -1.5px; margin-top: 4px;}
.orderType{position: relative; top: 1.5px;}
.content_1 table select,input[type="text"]{height: 28px;}
.content_1 table input[type="text"]{width:250px;}
.content_1 button{width: 99%; height: 100px; margin-right: 10px;}

.content_2{width: 100%; font-size: 14px;}
.content_2 table{margin: 5px 8px; text-align: center; width: 98%; line-height: 24px;}
.content_2 table thead{line-height: 35px; font-size: 14px; background: lightgray;}
.content_2 table tbody tr:hover{cursor: pointer; font-weight: bold;}
.content_2 button{float:right;}

#deBtn{background: gray; font-size: 16px; color: white; margin: 2px;}
#reBtn{background: rgb(107, 171, 213); font-size: 16px; color: white; margin: 2px; margin-right: 10px;}
#bBtn{background: rgb(172, 1, 1); font-size: 16px; color: white;}

.btn_group{margin: 40px 0px; position: relative;}   