<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adMemMapper">

	<resultMap type="Member" id="memberResult">
		<result column="mno" property="memNo" />
	    <result column="user_id" property="userId" />
        <result column="user_pwd" property="userPwd" />
        <result column="user_name" property="userName" />
        <result column="nickname" property="nickName" />
        <result column="phone" property="phone" />
        <result column="profile" property="profileImg" />
        <result column="point" property="point" />
        <result column="grade" property="grade" />
        <result column="u_status" property="userStatus" />
        <result column="report" property="report" />
        <result column="enroll_date" property="enrollDate" />
        <result column="sleep_date" property="sleepDate" />
        <result column="escape_date" property="escapeDate" />		
	</resultMap>

	<resultMap type="Point" id="pointResult">
		<result column="pno" property="pointNo" />
	    <result column="mno" property="memNo" />
        <result column="type" property="type" />
        <result column="p_order_no" property="orderNo" />
        <result column="p_date" property="pointDate" />		
		<result column="p_price" property="pointPrice" />	
		<result column="reason" property="reason" />	
		<result column="deadline" property="deadLine" />	
	</resultMap>	
	
	<resultMap type="Coupon" id="couponResult">
		<result column="cno" property="couponNo" />
	    <result column="cname" property="couponName" />
        <result column="discount" property="discount" />
	</resultMap>	
	
	<resultMap type="MemCoupon" id="memCouponResult">
		<result column="pcno" property="memCouponNo" />
	    <result column="mno" property="memNo" />
        <result column="cno" property="couponNo" />
        <result column="use" property="useYN" />
        <result column="endate" property="enDate" />
        <result column="dedate" property="deDate" />
	</resultMap>	
</mapper>
