<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="helpMapper">

	
	<resultMap id="noticeResult" type="Notice">
		<result column="nno" property="noNo" />
		<result column="mno" property="memNo" />
		<result column="category" property="category" />
		<result column="n_title" property="noTitle" />
		<result column="n_content" property="noContent" />
		<result column="count" property="count" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="img" property="img" />
	</resultMap>
	
	<resultMap id="qnaResult" type="Qna">
		<result column="qno" property="qnaNo" />
		<result column="mno" property="memNo" />
		<result column="nickname" property="nickName" />
		<result column="category" property="category" />
		<result column="q_title" property="qnaTitle" />
		<result column="q_content" property="qnaContent" />
		<result column="create_date" property="createDate" />
		<result column="password" property="pwd" />
		<result column="a_content" property="ansContent" />
		<result column="a_date" property="ansDate" />
	</resultMap>
	
	<resultMap id="faqResult" type="Faq">
		<result column="fno" property="faqNo" />
		<result column="mno" property="memNo" />
		<result column="category" property="category" />
		<result column="f_title" property="faqTitle" />
		<result column="f_content" property="faqContent" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
	</resultMap>

	
	
</mapper>