<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//E" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="classMapper">

	<resultMap id="classResult" type="Class">
		<result column="clno" property="clNo" />
		<result column="mno" property="memNo" />
		<result column="category" property="category" />
		<result column="cl_name" property="clName" />
		<result column="cl_content" property="clContent" />
		<result column="cl_date" property="clDate" />
		<result column="cl_price" property="clPrice" />
		<result column="kit" property="kit" />
		<result column="cl_img" property="clImg" />
		<result column="cl_img2" property="clImg2" />
		<result column="cl_img3" property="clImg3" />
		<result column="cl_kitimg" property="clKitImg" />
		<result column="hashtag" property="hashtag" />
		<result column="count" property="count" />
		<result column="nickname" property="memNo" />
		<result column="like_count" property="like" />
		<result column="profile" property="profile" />
	</resultMap>
	
	<resultMap id="classReviewResult" type="ClassReview">
		<result column="c_rno" property="crNo" />
		<result column="clno" property="clNo" />
		<result column="mno" property="memNo" />
		<result column="user_name" property="memNo" />
		<result column="nickname" property="memNo" />
		<result column="content" property="content" />
		<result column="star" property="star" />
		<result column="filepath" property="filePath" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="reconum" property="recommend" />
		<result column="replynum" property="replyNum" />
		<result column="profile" property="profile" />
	</resultMap>
	
	<resultMap id="classReviewReplyResult" type="Reply">
		<result column="reply_no" property="replyNo" />
		<result column="mno" property="memNo" />
		<result column="board_no" property="boardNo" />
		<result column="content_no" property="contentNo" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_date" property="replyDate" />
		<result column="reply_status" property="replyStatus" />
		<result column="nickname" property="nickName" />
		<result column="profile" property="profile" />
	</resultMap>
	
	<resultMap id="classQnaResult" type="ClassQna">
		<result column="cs_qno" property="csQnaNo" />
		<result column="mno" property="memNo" />
		<result column="nickname" property="memNo" />
		<result column="gb_no" property="gbNo" />
		<result column="refer_no" property="referNo" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="create_date" property="createDate" />
		<result column="pwd" property="pwd" />
		<result column="filepath" property="filePath" />
		<result column="status" property="status" />
		<result column="answer_content" property="answerContent" />
		<result column="answer_date" property="answerDate" />
		<result column="teacher_nick" property="teacherNick" />
		<result column="profile" property="profile" />
	</resultMap>
	
	<resultMap id="eventResult2" type="Event">
		<result column="eno" property="eventNo" />
		<result column="e_title" property="eventTitle" />
		<result column="img" property="img" />
	</resultMap>
	
	<resultMap id="memCouponResult2" type="memCoupon">
		<result column="pcno" property="memCouponNo" />
		<result column="mno" property="memNo" />
		<result column="cno" property="couponNo" />
		<result column="use" property="useYN" />
		<result column="endate" property="enDate" />
		<result column="dedate" property="deDate" />
		<result column="cname" property="couponName" />
		<result column="discount" property="discount" />
	</resultMap>
	
	<resultMap id="classOrderResult" type="ClassOrder">
		<result column="c_ono" property="coNo" />
		<result column="clno" property="clNo" />
		<result column="mno" property="memNo" />
		<result column="price" property="price" />
		<result column="point_use" property="pointUse" />
		<result column="pcno" property="pcNo" />
		<result column="amount" property="amount" />
		<result column="payment_date" property="paymentDate" />
		<result column="payment_option" property="paymentOption" />
		<result column="deposit" property="deposit" />
		<result column="point_save" property="pointSave" />
		<result column="reading_status" property="readingCheck" />
	</resultMap>

	<update id="increaseCount">
		update 
			   class
		   set count = count + 1
		 where CLNO = #{clNo}
		   and cl_status = 'Y'
	</update>
	
	<select id="selectClass" resultMap="classResult">
		select
		       clno
		     , nickname
		     , category
		     , cl_name
		     , cl_content
		     , cl_date
		     , cl_price
		     , kit
		     , cl_img
		     , cl_img2
		     , cl_img3
		     , cl_kitimg
		     , hashtag
		     , count
		     , (
		        select count(*)
		          from like_item
		         where gb_no = 1
		           and refer_no = clno
		        ) as like_count
		     , profile
		  from class
          JOIN member USING (MNO)
		 where cl_status = 'Y'
           and grade = 'T'
		   and clno = #{clNo}
	</select>
	
	<select id="classSearchListCount" resultType="_int">
        select count(*)
		  from class
		  JOIN member USING (MNO)
		 where cl_status = 'Y'
		   and grade = 'T'
		   and cl_name like '%' || #{keyword} || '%'
		   <choose>
		 		<when test="category == '1'">
		 			and category = 1
		 		</when>
		 		<when test="category == '2'">
		 			and category = 2
		 		</when>
		 		<when test="category == '3'">
		 			and category = 3
		 		</when>
		 		<when test="category == '4'">
		 			and category = 4
		 		</when>
		 		<when test="category == '5'">
		 			and category = 5
		 		</when>
		 		<when test="category == '6'">
		 			and category = 6
		 		</when>
		 		<when test="category == '7'">
		 			and category = 7
		 		</when>
		 		<when test="category == '8'">
		 			and category = 8
		 		</when>
		 		<otherwise>
		 		</otherwise>
		   </choose>
	</select>
	
	<select id="classSearchList" resultMap="classResult">
        select
		       clno
		     , nickname
		     , category
		     , cl_name
		     , cl_date
		     , cl_price
		     , cl_img
		     , count
		     , (
		        select count(*)
		          from like_item
		         where gb_no = 1
		           and refer_no = clno
		        ) as like_count
		  from class
		  JOIN member USING (MNO)
		 where cl_status = 'Y'
		   and grade = 'T'
		   and cl_name like '%' || #{keyword} || '%'
		   <choose>
				<when test="category == 1">
				   and category = 1
				</when>
				<when test="category == 2">
				   and category = 2
				</when>
				<when test="category == 3">
				   and category = 3
				</when>
				<when test="category == 4">
				   and category = 4
				</when>
				<when test="category == 5">
				   and category = 5
				</when>
				<when test="category == 6">
				   and category = 6
				</when>
				<when test="category == 7">
				   and category = 7
				</when>
				<when test="category == 8">
				   and category = 8
				</when>
				<otherwise>
				
				</otherwise>
		   </choose>
   		   <choose>
		   		<when test="array == 'like'">
					 order
					    by like_count desc
		   		</when>
		   		<when test="array == 'date'">
					 order
					    by clno desc
		   		</when>
		   </choose>
	</select>
	
	<select id="checkClassLike" resultType="_int">
		select count(*)
		  from like_item
		 where mno = #{memNo}
		   and refer_no = #{referNo}
	</select>
	
	<insert id="insertClassLike">
		insert
		  into like_item
		values
			 (
			   #{memNo}
			 , 1
			 , #{referNo}
			 )
	</insert>
	
	<delete id="deleteClassLike">
		delete 
		  from like_item
		 where mno = #{memNo}
		   and refer_no = #{referNo}
	</delete>
	
	<select id="selectClassReviewList" resultMap="classReviewResult">
		select c.c_rno
		     , c.clno
		     , nickname
		     , c.content
		     , c.star
		     , c.FILEPATH
		     , to_char(c.create_date, 'YYYY-MM-DD') as create_date
		     , status
   		     , (
		        select count(*)
		          from recommend
		         where gb_no = 1
		           and refer_no = c_rno
		        ) as reconum
            , (
            select count(*)
              from reply
             where reply_status = 'Y'
               and board_no = 2
               and content_no = c_rno
              ) as replynum
            , profile
		  from class_review c
          join member using (mno)
		 where status = 'Y'
		   and clno = #{clNo}
	     order
   			by c_rno desc
	</select>
	
	<select id="selectClassReviewTopList" resultMap="classReviewResult">
		select c.c_rno
		     , c.clno
		     , c.mno
		     , c.FILEPATH
		     , c.status
		     , (
		        select count(*)
		          from recommend
		         where gb_no = 1
		           and refer_no = c_rno
		        ) as reconum
		  from class_review c
		 where status = 'Y'
		   and filePath is not null
		   and clno = #{clNo}
		 order
		    by reconum desc
	</select>

	<select id="selectClassReviewMainList" resultMap="classReviewResult">
		select c.c_rno
		     , c.clno
		     , nickname
		     , c.content
		     , c.star
		     , c.FILEPATH
		     , to_char(create_date, 'YYYY-MM-DD') as create_date
		     , c.status
		     , (
		        select count(*)
		          from recommend
		         where gb_no = 1
		           and refer_no = c_rno
		        ) as reconum
		     , (
               	select count(*)
                  from reply
                 where board_no = 2
                   and reply_status = 'Y'
                   and content_no = c_rno
                ) as replynum
             , PROFILE
		  from class_review c
          join member using (mno)
		 where status = 'Y'
		   and clno = #{clNo}
		 order
		    by reconum desc
	</select>
	
	<select id="classReviewListCount" resultType="_int">
		select count(*)
		  from class_review
		 where status = 'Y'
		   and clNo = #{clNo}
	</select>
	
	<select id="selectClassReviewDetail" resultMap="classReviewResult">
		select c_rno
		     , r.clno
		     , nickname
		     , content
		     , star
		     , filepath
		     , to_char(r.create_date, 'YYYY-MM-DD') as create_date
		     , r.status
		     , (
		        select count(*)
		          from recommend
		         where gb_no = 1
		           and refer_no = c_rno
		        ) as reconum
            , (
                select count(*)
                  from reply
                 where reply_status = 'Y'
                   and board_no = 2
                   and content_no = c_rno
              ) as replynum
            , profile
		  from class_review r
          join member using (mno)
		 where status = 'Y'
		   and c_rno = #{crNo}
	</select>
	
	<select id="selectReplyListCount" resultType="_int">
		select count(*)
		  from reply
		 where REPLY_STATUS = 'Y'
		   and board_no = 2
		   and content_no = #{crNo}
	</select>
	
	<select id="selectReplyList" resultMap="classReviewReplyResult">
		select REPLY_NO
		     , nickname
		     , board_no
		     , content_no
		     , reply_content
		     , to_char(reply_date, 'YYYY-MM-DD') as reply_date
		     , reply_status
		     , profile
		  from reply
		  join member using (mno)
		 where reply_status = 'Y'
		   and content_no = #{crNo}
		 order
            by reply_no desc
	</select>
	
	<insert id="insertClassReviewReply">
		insert 
		  into reply
		values
			 ( 
			   SEQ_CMNO.NEXTVAL
			 , #{memNo}
			 , 2
			 , #{contentNo}
			 , #{replyContent}
			 , sysdate
			 , 'Y'
			 )
	</insert>
	
	<select id="checkRecommend" resultType="_int">
		select count(*)
		  from recommend
		 where gb_no = 1
		   and refer_no = #{crNo}
		   and mno = #{memNo}
	</select>
	
	<delete id="deleteRecommend">
		delete 
		  from recommend
		 where mno = #{memNo}
		   and refer_no = #{crNo}
	</delete>
	
	<insert id="insertRecommend">
		insert
		  into recommend
		values
			 (
			   #{memNo}
			 , 1
			 , #{crNo}
			 )
	</insert>
	
	<update id="deleteReply">
		update reply
		   set REPLY_STATUS = 'N'
		 where REPLY_NO = #{replyNo}
	</update>
	
	<update id="updateReply">
		update reply
		   set reply_content = #{replyContent}
		 where reply_status = 'Y'
		   and reply_no = #{replyNo}
	</update>
	
	<select id="enrollReviewCheck" resultType="_int">
		select count(*)
		  from class_order
		 where reading_status = 'Y'
		   and clNo = #{clNo}
		   and mno = #{memNo}
	</select>
	
	<insert id="insertClassReview">
		insert
		  into class_review
		values
			 (
			   SEQ_CRNO.NEXTVAL
			 , #{clNo}
			 , #{memNo}
			 , #{content}
			 , #{star}
			 <choose>
			 	<when test="filePath != null">
			 		, #{filePath}
			 	</when>
			 	<otherwise>
			 		, null
			 	</otherwise>
			 </choose>
			 , sysdate
			 , 'Y'
			 )
	</insert>
	
	<update id="deleteReview">
		update class_review
		   set status = 'N'
		 where c_rno = #{crNo}
	</update>
	
	<update id="updateReview">
		update class_review
		   set content = #{content},
		   	   star = #{star}
		   	   <if test="filePathMessage == 'uuuuu'">
		   	   		, filePath = #{filePath}
		   	   </if>
		   	   <if test="filePathMessage == 'ddddd'">
		   	   		, filePath = null
		   	   </if>
		 where c_rno = #{crNo}
		   and status = 'Y'
	</update>
	
	<select id="selectClassQnaList" resultMap="classQnaResult">
		select cs_qno
		     , nickname
		     , gb_no
		     , refer_no
		     , title
		     , content
		     , to_char(create_date, 'YYYY-MM-DD') as create_date
		     , pwd
		     , filepath
		     , status
		     , answer_content
		     , to_char(answer_date, 'YYYY-MM-DD') as answer_date
             , (
                select nickname
                  from member
                  join class using (mno)
                 where clno = refer_no
                ) as teacher_nick
             , profile
		  from cs_qna
		  join member using (mno)
		 where status = 'Y'
		   and gb_no = 1
		   and refer_no = #{clNo}
		 order
		    by cs_qno desc
	</select>
	
	<insert id="insertClassQna">
		insert
		  into cs_qna
		values
			 (
			   SEQ_CSQNO.NEXTVAL
			 , #{memNo}
			 , 1
			 , #{referNo}
			 , #{title}
			 , #{content}
			 , sysdate
			 <choose>
			 	<when test="pwd != null">
			 		, #{pwd}
			 	</when>
			 	<otherwise>
			 		, null
			 	</otherwise>
			 </choose>
			 <choose>
			 	<when test="filePath != null">
			 		, #{filePath}
			 	</when>
			 	<otherwise>
			 		, null
			 	</otherwise>
			 </choose>
			 , 'Y'
			 , null
			 , null
			 )
	</insert>
	
	<update id="deleteClassQna">
		update cs_qna
		   set status = 'N'
		 where gb_no = 1
		   and cs_qno = #{csQnaNo}
	</update>
	
	<update id="updateClassQna">
		update cs_qna
		   set title = #{title}
		     , content = #{content}
		       <choose>
				   <when test="pwd != null">
				   , pwd = #{pwd}
				   </when>
				   <otherwise>
				   , pwd = null
				   </otherwise>
			   </choose>
			   <if test="filePathMessage == 'uuuuu'">
		   	   	   , filePath = #{filePath}
		   	   </if>
		   	   <if test="filePathMessage == 'ddddd'">
		   	   	   , filePath = null
		   	   </if>
		 where status = 'Y'
		   and cs_qno = #{csQnaNo}    
	</update>
	
	<select id="classQnaPwdCheck" resultType="_int">
		select count(*)
		  from cs_qna
		 where STATUS = 'Y'
		   and PWD = #{pwd}
		   and cs_qno = #{csQnaNo}
	</select>
	
	<select id="classQnaListCount" resultType="_int">
		select count(*)
		  from cs_qna
		 where refer_no = #{referNo}
		   and status = 'Y'
		   and gb_no = 1
	</select>
	
	<select id="classHotList" resultMap="classResult">
		select
		       clno
		     , nickname
		     , category
		     , cl_name
		     , cl_content
		     , cl_price
		     , cl_img
		     , count
		     , (
		        select count(*)
		          from like_item
		         where gb_no = 1
		           and refer_no = clno
		        ) as like_count
		  from class
		  JOIN member USING (MNO)
		 where cl_status = 'Y'
		 order
		    by like_count desc
	</select>
	
	<select id="classNewList" resultMap="classResult">
		select
		       clno
		     , nickname
		     , category
		     , cl_name
		     , cl_content
		     , cl_price
		     , cl_img
		     , count
		     , (
		        select count(*)
		          from like_item
		         where gb_no = 1
		           and refer_no = clno
		        ) as like_count
		  from class
		  JOIN member USING (MNO)
		 where cl_status = 'Y'
		 order
		    by clno desc
	</select>
		
	<select id="classCategoryListCount" resultType="_int">
		select count(*)
		  from class
		 where CL_STATUS = 'Y'
		 <choose>
			<when test="category == 1">
			   and category = 1
			</when>
			<when test="category == 2">
			   and category = 2
			</when>
			<when test="category == 3">
			   and category = 3
			</when>
			<when test="category == 4">
			   and category = 4
			</when>
			<when test="category == 5">
			   and category = 5
			</when>
			<when test="category == 6">
			   and category = 6
			</when>
			<when test="category == 7">
			   and category = 7
			</when>
			<when test="category == 8">
			   and category = 8
			</when>
	   </choose>
	</select>

	<select id="classCategoryList" resultMap="classResult">
		select
		       clno
		     , nickname
		     , category
		     , cl_name
		     , cl_date
		     , cl_price
		     , cl_img
		     , count
		     , (
		        select count(*)
		          from like_item
		         where gb_no = 1
		           and refer_no = clno
		        ) as like_count
		  from class
		  JOIN member USING (MNO)
		 where cl_status = 'Y'
		   <choose>
				<when test="category == 1">
				   and category = 1
				</when>
				<when test="category == 2">
				   and category = 2
				</when>
				<when test="category == 3">
				   and category = 3
				</when>
				<when test="category == 4">
				   and category = 4
				</when>
				<when test="category == 5">
				   and category = 5
				</when>
				<when test="category == 6">
				   and category = 6
				</when>
				<when test="category == 7">
				   and category = 7
				</when>
				<when test="category == 8">
				   and category = 8
				</when>
		   </choose>
   		   <choose>
		   		<when test="array == 'like'">
					 order
					    by like_count desc
		   		</when>
		   		<when test="array == 'date'">
					 order
					    by clno desc
		   		</when>
		   </choose>
	</select>
		
	<select id="mainSlideList" resultMap="eventResult2">
		select 
		       eno
		     , e_title
		     , img
		  from event
		 where status = 'Y'
	</select>
	
	<select id="classPayCk" resultType="_int">
		select count(*)
		  from class_order
		 where READING_STATUS != 'E'
		   and clNo = #{clNo}
		   and mno = #{memNo}
	</select>
		
	<select id="memberCouponList" resultMap="memCouponResult2">
		select c.pcno
		     , c.mno
		     , cno
		     , c.use
		     , c.endate
		     , c.dedate
		     , cname
		     , discount
		  from coupon c
		  join couponlist using (cno)
		 where c.mno = #{memNo}
		   and c.dedate > sysdate
		   and c.use = 'N'
	</select>
	
	<select id="useCouponData" resultMap="memCouponResult2">
		select c.pcno
		     , c.mno
		     , cno
		     , c.use
		     , c.endate
		     , c.dedate
		     , cname
		     , discount
		  from coupon c
		  join couponlist using (cno)
		 where c.pcno = #{useCouponNo}
	</select>
	
	<insert id="insertClassOrder">
		insert 
		  into class_order
		values
			 (
			   'C' || to_char(sysdate, 'YYYYMMDD') || SEQ_CONO.NEXTVAL
			 , #{clNo}
			 , #{memNo}
			 , #{price}
			 <choose>
			 	<when test="pointUse == 0">
					, null 		 	
			 	</when>
			 	<otherwise>
					, #{pointUse}
			 	</otherwise>
			 </choose>
			 , #{pcNo}
			 , #{amount}
			 , sysdate
			 , #{paymentOption}
			 <choose>
			 	<when test="paymentOption == 1">
			 		, 'N'
			 	</when>
			 	<otherwise>
			 		, null
			 	</otherwise>
			 </choose>
			 <choose>
			 	<when test="amount != 0">
			 		, #{amount} * 0.01
			 	</when>
			 	<otherwise>
			 		, null
			 	</otherwise>
			 </choose>
			 , 'N'
			 )
	</insert>
	
	<select id="selectClassOrder" resultMap="classOrderResult">
		select c_ono
		     , clno
		     , mno
		     , price
		     , point_use
		     , pcno
		     , amount
		     , payment_date
		     , payment_option
		     , deposit
		     , point_save
		     , reading_status
		  from class_order
		 where mno = #{memNo}
		   and clno = #{clNo}
		   and READING_STATUS in ('N', 'Y')
	</select>
		
	<insert id="insertUsePoint">
		insert
		  into point
		values
			 (
			   seq_pno.nextval
			 , #{memNo}
			 , '2'
			 , #{coNo}
			 , sysdate
			 , 0 - #{pointUse}
			 , '클래스 구매 차감'
			 , sysdate
			 , 2
			 )
	</insert>
	
	<update id="deleteCoupon">
		update coupon
		   set use = 'Y'
		 where pcno = #{pcNo}
	</update>
	
	<update id="downMemberPoint">
		update member
		   set point = point - #{pointUse}
		 where mno = #{memNo}
	</update>
	
	<insert id="insertSavingPoint">
		insert
		  into point
		values
			 (
			   seq_pno.nextval
			 , #{memNo}
			 , '2'
			 , #{coNo}
			 , sysdate
			 , #{pointSave}
			 , '클래스 구매 적립'
			 , sysdate + 365
			 , 1
			 )
	</insert>
	
	<update id="upMemberPoint">
		update member
		   set point = point + #{pointSave}
		 where mno = #{memNo}
	</update>
	
	<select id="selectReview" resultMap="classReviewResult">
		select 
		       c_rno
		     , clno
		     , mno
		     , status
		  from class_review
		 where c_rno = #{refBNo}
	</select>
	
	<insert id="reportReview">
		insert
		  into report
		values
			 (
			   SEQ_RPNO.NEXTVAL
			 , #{reportMemNo}
			 , 'CR'
			 , #{refBNo}
			 <choose>
			 	<when test="content == 1">
			 		, '욕설 또는 음란성 내용'
			 	</when>
			 	<when test="content == 2">
			 		, '부적절한 홍보성 댓글'
			 	</when>
			 	<when test="content == 3">
			 		, '사생활 침해 및 불법 촬영물'
			 	</when>
			 	<when test="content == 4">
			 		, '명예훼손 및 저작권침해'
			 	</when>
			 	<when test="content == 5">
			 		, #{reason}
			 	</when>
			 </choose>
			 , 'N'
			 , sysdate
			 )
	</insert>
	
	<select id="selectReply" resultMap="classReviewReplyResult">
		select 
		       REPLY_NO
		     , MNO
		  from reply
		 where REPLY_NO = #{refBNo}
	</select>
	
	<insert id="reportReviewReply">
		insert
		  into report
		values
			 (
			   SEQ_RPNO.NEXTVAL
			 , #{reportMemNo}
			 , 'R'
			 , #{refBNo}
			 <choose>
			 	<when test="content == 1">
			 		, '욕설 또는 음란성 내용'
			 	</when>
			 	<when test="content == 2">
			 		, '부적절한 홍보성 댓글'
			 	</when>
			 	<when test="content == 3">
			 		, '사생활 침해 및 불법 촬영물'
			 	</when>
			 	<when test="content == 4">
			 		, '명예훼손 및 저작권침해'
			 	</when>
			 	<when test="content == 5">
			 		, #{reason}
			 	</when>
			 </choose>
			 , 'N'
			 , sysdate
			 )
	</insert>
	
	<select id="selectQna" resultMap="classQnaResult">
		select
			   CS_QNO
			 , mno
		  from cs_qna
		 where gb_no = 1
		   and CS_QNO = #{refBNo}
	</select>
		
	<insert id="reportQna">
		insert
		  into report
		values
			 (
			   SEQ_RPNO.NEXTVAL
			 , #{reportMemNo}
			 , 'CQ'
			 , #{refBNo}
			 <choose>
			 	<when test="content == 1">
			 		, '욕설 또는 음란성 내용'
			 	</when>
			 	<when test="content == 2">
			 		, '부적절한 홍보성 댓글'
			 	</when>
			 	<when test="content == 3">
			 		, '사생활 침해 및 불법 촬영물'
			 	</when>
			 	<when test="content == 4">
			 		, '명예훼손 및 저작권침해'
			 	</when>
			 	<when test="content == 5">
			 		, #{reason}
			 	</when>
			 </choose>
			 , 'N'
			 , sysdate
			 )
	</insert>
</mapper>
