<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">

	
	<resultMap id="eventResult" type="Event">
		<result column="eno" property="eventNo" />
		<result column="mno" property="memNo" />
		<result column="category" property="category" />
		<result column="e_title" property="eventTitle" />
		<result column="e_content" property="eventContent" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="tag" property="tag" />
		<result column="img" property="img" />
		<result column="cno" property="couponNo" />
	</resultMap>
	
	<resultMap id="replyResult" type="Reply">
		<result column="reply_no" property="replyNo" />
		<result column="mno" property="memNo" />
		<result column="board_no" property="boardNo" />
		<result column="content_no" property="contentNo" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_date" property="replyDate" />
		<result column="reply_status" property="replyStatus" />
		<result column="nickname" property="nickName" />
	</resultMap>
	
	<resultMap id="classResult" type="Class">
		<result column="clno" property="clNo" />
		<result column="category" property="category" />
		<result column="cl_name" property="clName" />
		<result column="cl_date" property="clDate" />
		<result column="cl_price" property="clPrice" />
		<result column="cl_img" property="clImg" />
		<result column="like_count" property="like" />
		<result column="hashtag" property="hashtag" />
	</resultMap>
	
	<resultMap type="Coupon" id="couponResult">
		<result column="cno" property="couponNo" />
		<result column="mno" property="memNo" />
	    <result column="cname" property="couponName" />
        <result column="discount" property="discount" />
        <result column="dedate" property="dedate" />
        <result column="now_count" property="count" />
        <result column="maxcount" property="maxCount"/>
	</resultMap>

	<!-- 공지사항 -->

	<select id="selectEventCount" resultType="_int">
		select
		       count(*)
		  from event
		 where status = 'Y'
	</select>
	
	
	<select id="selectEventList" resultMap="eventResult">
		select
			   eno
			 , mno
			 , category
			 , e_title
			 , e_content
			 , create_date
			 , status
			 , tag
			 , img
		  from event
	</select>
	
	
	<select id="selectEvent" resultMap="eventResult">
		select 
		       ENO
		     , CATEGORY
		     , E_TITLE
		     , E_CONTENT
		     , TAG
		     , IMG
		     , CNO
		  from EVENT
		 where ENO = #{eventNo}
	</select>
	
		
	<select id="selectReply" resultMap="replyResult">	
		SELECT
			   REPLY_NO
		     , NICKNAME
		     , reply_content
		     , to_char(reply_date, 'YYYY-MM-DD') as "reply_date"
		  from REPLY
		  JOIN MEMBER USING (MNO)
         WHERE CONTENT_NO = #{contentNo}
           and board_no = 1
        order
           by reply_no desc
	</select>	 
	
	
	<select id="insertReply" resultType="_int">
		insert
		  into reply
			 (
			   reply_no
			 , mno
		  	 , board_no
			 , content_no
			 , reply_content
			 )
			 values
			 (
			   seq_reno.nextval
			 , #{memNo}
			 , 1
			 , #{contentNo}
			 , #{replyContent}
			 )
	</select>
	 
	 
	<select id="ajaxSearchEvent" resultMap="eventResult">
		select
			   eno
			 , mno
			 , category
			 , e_title
			 , e_content
			 , create_date
			 , status
			 , tag
			 , img
		  from event
		 where category = #{category}	
	</select>

	<!-- 관리자 이벤트 전체 조회 카운트-->
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from event
	</select>
	
	<!-- 관리자 이벤트 진행중 카운트-->
	<select id="statusListCount" resultType="_int">
		select
		       count(*)
		  from event
		  where status = 'Y'
	</select>
	
	<!-- 관리자 이벤트 종료 카운트-->
	<select id="statusNListCount" resultType="_int">
		select
		       count(*)
		  from event
		  where status = 'N'
	</select>
	
	<!-- 관리자 이벤트 전체 조회 -->
	<select id="selectList" resultMap="eventResult">
		select
					ENO
				  , CATEGORY
				  , E_TITLE
				  , E_CONTENT
				  , IMG
				  , TAG
			 from event
	</select>
	
	<!-- 관리자 이벤트 진행중 조회 -->
	<select id="statusList" resultMap="eventResult">
		select
					ENO
				  , CATEGORY
				  , E_TITLE
				  , E_CONTENT
				  , IMG
				  , TAG
			 from event
			 where status = 'Y'
	</select>
	
	<!-- 관리자 이벤트 종료 조회 -->
	<select id="statusNList" resultMap="eventResult">
		select
					ENO
				  , CATEGORY
				  , E_TITLE
				  , E_CONTENT
				  , IMG
				  , TAG
			 from event
			 where status = 'N'
	</select>
	
	<insert id="insertEvent">
		insert
		  into event
		  (
		    ENO
		  , MNO
		  , CATEGORY
		  , E_TITLE
		  , E_CONTENT
		  , IMG
		  , TAG
		  )
		  values
		  (
		    seq_eno.nextval
		  , #{memNo}
		  , #{category}
		  , #{eventTitle}
		  , #{eventContent}
		  , #{img}
		  , #{tag}
		  )
	</insert>
	
	
	<select id="selectEventAd" resultMap="eventResult">
		select
			    ENO
			  , MNO
			  , CATEGORY
			  , E_TITLE
			  , E_CONTENT
			  , IMG
			  , TAG
		  from event
		 where eno = #{eventNo}
	</select>
	
	<update id="endEvent">
		update
        	   event
		   set status = 'N' 
		 where eno = #{eventNo}
	</update>
	
	<update id="updateEvent">
		update
        	   event
		   set category = #{category}
		   	 , e_title = #{eventTitle}
		     , e_content = #{eventContent}
		     , img = #{img}
		     , tag = #{tag}  
		 where eno = #{eventNo}
	</update>
	
	
<!-- 태그  -->
	<select id="tagSelecetCount" resultType="_int">
		select
		       count(*)
		  from class
		 where cl_status = 'Y'
		   and hashtag like '%'||#{hashtag}||'%'
	</select>
	
	<select id="tagSelectList" resultMap="classResult">
		select
		       clno
		     , category
		     , cl_name
		     , cl_price
		     , cl_img
		     , hashtag
		  from class
		 where hashtag like '%'||#{hashtag}||'%'
		   and cl_status = 'Y'
		 order
		    by clno desc
	</select>
	
	<select id="tagLickClass" resultType="_int">
		select count(*)
		  from like_item
		 where refer_no = #{clno}
	</select>

<!-- 쿠폰 -->	
	<select id="insertCoupon" resultType="_int">
		insert
		  into coupon
		       (
		       PCNO
		     , CNO
		     , MNO
		     )
		values
		     (
		       SEQ_CPNO.nextval
		     , #{couponNo}
		     , #{memNo}
		     )
	</select>
	
	<update id="countCoupon">
		update couponList
		   set now_count = now_count + 1
		 where cno = #{couponNo}
	</update>
	
	<select id="selectCoupon" resultMap="couponResult">
		select 
			   cno
			 , maxcount
			 , now_count
		  from couponlist
		 where cno = #{couponNo}	 
	</select>
	
	<select id="couponHistoryMem" resultType="_int">
		select count(*)
		  from coupon
		 where mno = #{memNo}
		   and cno = #{couponNo}
	</select>
	
</mapper>