<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">

	
	<resultMap id="eventResult" type="Event">
		<result column="eno" property="eventNo" />
		<result column="mno" property="memNo" />
		<result column="category" property="category" />
		<result column="e_title" property="eventTitle" />
		<result column="e_content" property="eventContent" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="tag" property="tag" />
		<result column="img" property="img" />
	</resultMap>
	
	<resultMap id="replyResult" type="Reply">
		<result column="reply_no" property="replyNo" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_date" property="replyDate" />
		<result column="nickname" property="nickName" />
	</resultMap>
	

	<!-- 공지사항 -->

	<select id="selectEventCount" resultType="_int">
		select
		       count(*)
		  from event
		 where status = 'Y'
	</select>
	
	
	<select id="selectEventList" resultMap="eventResult">
		select
			   eno
			 , mno
			 , category
			 , e_title
			 , e_content
			 , create_date
			 , status
			 , tag
			 , img
		  from event
	</select>
	
	
	<select id="selectEvent" resultMap="eventResult">
		select 
		       ENO
		     , CATEGORY
		     , E_TITLE
		     , E_CONTENT
		     , TAG
		     , IMG
		  from EVENT
		 where ENO = #{eventNo}
	</select>
	
		
	<select id="selectReply" resultMap="replyResult">	
		SELECT
			   REPLY_NO
		     , NICKNAME
		     , reply_content
		     , to_char(reply_date, 'YYYY-MM-DD') as "reply_date"
		  from REPLY
		  JOIN MEMBER USING (MNO)
         WHERE CONTENT_NO = #{eventNo}
	</select>	 
	 
	 
	<select id="ajaxSearchEvent" resultMap="eventResult">
		select
			   eno
			 , mno
			 , category
			 , e_title
			 , e_content
			 , create_date
			 , status
			 , tag
			 , img
		  from event
		 where category = #{category}	
	</select>

	<!-- 관리자 이벤트 전체 조회 카운트-->
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from event
	</select>
	
	<!-- 관리자 이벤트 전체 조회 -->
	<select id="selectList" resultMap="eventResult">
		select
					ENO
				  , CATEGORY
				  , E_TITLE
				  , E_CONTENT
				  , IMG
				  , TAG
			 from event
	</select>
	
	
</mapper>