<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inChartMapper">


	<resultMap type="InStarChart" id="inStarResult">
		<result column="pno" property="productNo"/>
		<result column="star" property="star"/>
		<result column="count" property="starCount"/>
	</resultMap>
	
	<resultMap type="InQnaChart" id="inQnaResult">
		<result column="pno" property="productNo"/>
		<result column="qna_count" property="qnaCount"/>
		<result column="answer_count" property="answerCount"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	
	<resultMap id="productResult" type="Product">
	  	<result column="pno" property="productNo"/>
	  	<result column="mno" property="memberNo"/>
	  	<result column="category" property="category"/>
	  	<result column="title" property="title"/>
	  	<result column="status" property="status"/>
	</resultMap>

	<select id="productList" resultMap="productResult">
		select 
		        pno
		      , title
		      , category
		      , status
		  from store
		 where status in ('Y')
	</select>
	
	<select id="starChartList" resultMap="inStarResult">
		select
		         CEIL(star_rating) star
		      ,  count(*) count
		  from s_review
		 <if test="productNo != 0">
		  where pno = #{productNo}
		 </if>
		 group by CEIL(star_rating)
		 order by CEIL(star_rating)
	</select>
	
	<select id="qnaChartList" resultMap="inQnaResult">
		select 
		      refer_no "pno"
		    , count(*) "qna_count"
		    , count(answer_content) "answer_count" 
		<choose>
			<when test="productNo == 0">
				from cs_qna 
				group by refer_no
				order by refer_no
			</when>
			<when test="productNo != 0">
			    , to_char(create_date, 'YYYY-MM-DD')create_date
			 from cs_qna 
			where refer_no = #{productNo}
			group by refer_no, CREATE_DATE			
			order by create_date
			</when>
		</choose>
	</select>
	


	<select id="mainStarChart" resultMap="inStarResult">
		select
			  CEIL(star_rating) star
			, count(*) count
		from s_review
		group by CEIL(star_rating)
		order by CEIL(star_rating)
	</select>

	<select id="mainQnaChart" resultMap="inQnaResult">
		select 
			refer_no "pno"
			, count(*) "qna_count"
			, count(answer_content) "answer_count" 
		 from cs_qna 
		group by refer_no
		order by refer_no
	</select>

	
</mapper>