<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inChartMapper">

	<!-- 
	
	<select id="selectChart" resultMap="chartResult">
		select 
		       sta_no
		     , to_char(sta_date, 'YYYY-MM-DD') as "sta_date"
		     , new_mem
		     , sleep_mem
		     , del_mem
		     , new_teacher
		     , sleep_teacher
		     , del_teacher
		  from statis
		 where sta_date between sysdate-7 and sysdate
		 order
		    by sta_no desc
	</select>
	
	<select id="selectMemChart" resultMap="chartResult">
		select 
		       sta_no
		     , to_char(sta_date, 'YYYY-MM-DD') as "sta_date"
		     , new_mem
		     , sleep_mem
		     , del_mem
		  from statis
		 where sta_date between sysdate-7 and sysdate
		 order
		    by sta_no desc
	</select>
	
	<select id="selectTeacherChart" resultMap="chartResult">
		select 
		       sta_no
		     , to_char(sta_date, 'MM-DD') as "sta_date"
		     , new_teacher
		     , sleep_teacher
		     , del_teacher
		  from statis
		 where sta_date between sysdate-7 and sysdate
		 order
		    by sta_no desc
	</select>
	
	<select id="selectQnaChart" resultType="_int">
		select count(*) as count
		  from qna
		 where category = #{category}
		   and TO_CHAR(create_date,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
	 -->
</mapper>