<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	
	<resultMap id="memberResult" type="Member">
	   <result column="mno" property="memNo" />
	   <result column="user_id" property="userId" />
       <result column="user_pwd" property="userPwd" />
       <result column="user_name" property="userName" />
       <result column="nickname" property="nickName" />
       <result column="phone" property="phone" />
       <result column="profile" property="profileImg" />
       <result column="point" property="point" />
       <result column="grade" property="grade" />
       <result column="u_status" property="userStatus" />
       <result column="report" property="report" />
       <result column="enroll_date" property="enrollDate" />
       <result column="sleep_date" property="sleepDate" />
       <result column="escape_date" property="escapeDate" />
	</resultMap>
	
	<select id="loginMember" resultMap="memberResult">
			  select
			  	mno
		      , user_id
		      , user_pwd
		      , user_name
		      , nickname
		      , phone
		      , profile
		      , point
		      , grade
		      , u_status
		      , enroll_date
		      , sleep_date
		      , escape_date
		  from member
		 where u_status = 'Y'
		   and user_id = #{userId}
		   
	</select>
	
	<insert id="insertMember">
		insert
	 		  into member
	 		  (
	              mno
	            , grade
	 		  	, user_id
	 		  	, user_pwd
	 		  	, user_name
	 		  	, nickname
	 		  	, phone
	 		  	)
	 		  	values
	 		   (
	            SEQ_MNO.NEXTVAL
	          , #{grade}
	 		  ,	#{userId}
	 		  , #{userPwd}
	 		  , #{userName}
	 		  , #{nickName}
	 		  , #{phone}
	 		  )
	</insert>
	
	<select id="idCheck" resultType="_int">
 		select 
 		       count(*)
 		  from member
 		 where user_id = #{checkId}
 		 
 	</select>
 	
 	<select id="nickCheck" resultType="_int">
 		select 
 		       count(*)
 		  from member
 		 where nickname = #{nickCheck}
 	</select>
 	
	<select id="findId" resultMap="memberResult">
			  select
			  	mno
		      , user_id
		      , user_pwd
		      , user_name
		      , nickname
		      , phone
		      , profile
		      , point
		      , grade
		      , u_status
		      , enroll_date
		      , sleep_date
		      , escape_date
		  from member
		 where u_status = 'Y'
		   and phone = #{phone}
		   and user_name = #{userName}
		   
	</select>
	
</mapper>