<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	
	<resultMap id="memberResult" type="Member">
	   <result column="mno" property="mNo" />
	   <result column="user_id" property="userId" />
       <result column="user_pwd" property="userPwd" />
       <result column="user_name" property="userName" />
       <result column="nickname" property="nickName" />
       <result column="phone" property="phone" />
       <result column="profile" property="profileImg" />
       <result column="point" property="point" />
       <result column="grade" property="grade" />
       <result column="u_status" property="uStatus" />
       <result column="report" property="report" />
       <result column="enroll_date" property="enrollDate" />
       <result column="sleep_date" property="sleepDate" />
       <result column="escape_date" property="escapeDate" />
	</resultMap>
	
	<select id="loginMember" resultMap="memberResult">
			  select
			  	mno
		      , user_id
		      , user_pwd
		      , user_name
		      , nickname
		      , phone
		      , profile
		      , point
		      , grade
		      , u_status
		      , enroll_date
		      , sleep_date
		      , escape_date
		  from member
		 where u_status = 'Y'
		   and user_id = #{userId}
		   and user_pwd = #{userPwd}
		   
	</select>
	
</mapper>