<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myMapper">

	<resultMap id="memberResult" type="Member">
	   <result column="mno" property="memNo" />
	   <result column="user_id" property="userId" />
       <result column="user_pwd" property="userPwd" />
       <result column="user_name" property="userName" />
       <result column="nickname" property="nickName" />
       <result column="phone" property="phone" />
       <result column="profile" property="profileImg" />
       <result column="point" property="point" />
       <result column="grade" property="grade" />
       <result column="u_status" property="userStatus" />
       <result column="report" property="report" />
       <result column="enroll_date" property="enrollDate" />
       <result column="sleep_date" property="sleepDate" />
       <result column="escape_date" property="escapeDate" />
	</resultMap>

	<resultMap id="myCouponResult" type="coupon">
		<result column="cno" property="couponNo" />
		<result column="mno" property="memNo" />
		<result column="CNAME" property="couponName" />
		<result column="DISCOUNT" property="discount" />
		<result column="dedate" property="dedate" />
		<result column="endate" property="endate" />
	</resultMap>
	
	<resultMap id="pointResult" type="Point" >
		<result column="pno" property="pointNo" />
	    <result column="mno" property="memNo" />
        <result column="type" property="type" />
        <result column="p_order_no" property="orderNo" />
        <result column="p_date" property="pointDate" />		
		<result column="p_price" property="pointPrice" />	
		<result column="reason" property="reason" />	
		<result column="deadline" property="deadLine" />	
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap id="myQnaResult" type="Qna">
		<result column="qno" property="qnaNo" />
		<result column="mno" property="memNo" />
		<result column="nickname" property="nickName" />
		<result column="category" property="category" />
		<result column="q_title" property="qnaTitle" />
		<result column="q_content" property="qnaContent" />
		<result column="create_date" property="createDate" />
		<result column="password" property="pwd" />
		<result column="a_content" property="ansContent" />
		<result column="a_date" property="ansDate" />
	</resultMap>
	
	<resultMap id="myClassResult" type="Class">
		<result column="clNo" property="clNo" />
		<result column="mNo" property="memNo" />
		<result column="category" property="category" />
		<result column="cl_name" property="clName" />
		<result column="cl_date" property="clDate" />
		<result column="cl_price" property="clPrice" />
		<result column="cl_status" property="clStatus" />
		<result column="cl_img" property="clImg" />
		<result column="like" property="like" />
	</resultMap>
	
	<resultMap id="myClassOrderResult" type="ClassOrder">
		<result column="c_oNo" property="coNo" />
		<result column="clNo" property="clNo" />
		<result column="mNo" property="memNo" />
		<result column="reading_status" property="readingCheck" />
		<result column="cl_name" property="clName" />
		<result column="cl_img" property="clImg" />
		<result column="category" property="category" />
	</resultMap>
	
	<resultMap id="classReviewResult" type="ClassReview">
		<result column="c_rno" property="crNo" />
		<result column="clno" property="clNo" />
		<result column="mno" property="memNo" />
		<result column="content" property="content" />
		<result column="star" property="star" />
		<result column="filepath" property="filePath" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="reconum" property="recommend" />
		<result column="cl_name" property="clName" />
		<result column="cl_img" property="img" />
	</resultMap>
	
	<resultMap id="storeResult" type="Product">
	  	<result column="pno" property="productNo"/>
	  	<result column="mno" property="memberNo"/>
	  	<result column="category" property="category"/>
	  	<result column="title" property="title"/>
	  	<result column="price" property="price"/>
	  	<result column="soldout_yn" property="soldoutYN"/>
	  	<result column="status" property="status"/>
	  	<result column="img1" property="productImg0"/>
	</resultMap>
	
	<resultMap id="csResult" type="CsQna">
	  	<result column="cs_qno" property="csQno"/>
	  	<result column="mno" property="memNo"/>
	  	<result column="gb_no" property="gbNo"/>
	  	<result column="refer_no" property="referNo"/>
	  	<result column="title" property="title"/>
	  	<result column="content" property="content"/>
	  	<result column="create_date" property="createDate" />
	  	<result column="pwd" property="pwd"/>
	  	<result column="filepath" property="filePath"/>
	  	<result column="status" property="status"/>
	  	<result column="answer_content" property="answerContent"/>
	  	<result column="answer_date" property="answerDate" />
	  	<result column="pro_title" property="proTitle" />
	  	<result column="cl_name" property="clName" />
	</resultMap>	
	
	<resultMap id="storeReviewResult" type="StoreReview">
	  	<result column="rno" property="reviewNo"/>
	  	<result column="mno" property="memberNo"/>
	  	<result column="pno" property="productNo"/>
	  	<result column="content" property="content"/>
	  	<result column="star_rating" property="starRating"/>
	  	<result column="review_date" property="reviewDate" />
	  	<result column="status" property="status"/>
	  	<result column="title" property="title"/>
	  	<result column="img1" property="img"/>
	</resultMap>
	
	<resultMap id="storePayResult" type="StorePay">
	  	<result column="order_no" property="orderNo"/>
	  	<result column="mno" property="memberNo"/>
	  	<result column="address" property="address"/>
	  	<result column="pay_amount" property="payAmount"/>
	  	<result column="pay_date" property="payDate"/>
	  	<result column="pay_method" property="payMethod"/>
	  	<result column="order_status" property="orderStatus"/>
	  	<result column="pay_status" property="payStatus"/>
	  	<result column="deposit_ck" property="depositCK"/>
	  	<result column="use_point" property="usePoint"/>
	  	<result column="use_coupon" property="useCoupon"/>
	  	<result column="point" property="point"/>
	  	<result column="d_fee" property="deleveryFee"/>
	  	<result column="title" property="title"/>
	  	<result column="img1" property="img"/>
	  	<result column="user_name" property="userName"/>
	  	<result column="phone" property="phone"/>
	</resultMap>
	
<!-- 마이페이지 메인 -->
	<select id="selectMainMyClass" resultMap="myClassOrderResult">
		select
		       distinct c_ono
		     , c.clno
		     , cl_name
		     , cl_img
		  from class c   		
		  join class_order co on (c.clno = co.clno)
		 where co.mno = #{memNo}
		 order
		 	by c_ono desc
	</select>
	
	<select id="selectMainLikeClass" resultMap="myClassResult">
		select 
		       distinct clno
		     , l.mno as "mno"
		     , cl_name
		     , cl_img
		  from class c
		  join like_item l on (c.clno = l.refer_no)
		 where l.mno = #{mno}
		   and cl_status = 'Y'
	</select>
	
	<select id="selectMainLikeProduct" resultMap="storeResult">
		select 
		       distinct pno
		     , s.mno as "mno"
		     , title
		     , img1
		  from store s
		  join like_item l on (s.pno = l.refer_no)
		  where l.mno = #{memNo} 
		    and status = 'Y'
	</select>


<!-- 정보수정용 -->
	<update id="updateProfile">
		update
			   member
		   set nickname = #{nickName}
		   	 , phone = #{phone}
		   	 , profile = #{profileImg}
		 where mno = #{memNo}
	</update>
	
	<select id="selectUser" resultMap="memberResult">
	 select
		  	mno
	      , user_id
	      , user_pwd
	      , user_name
	      , nickname
	      , phone
	      , profile
	  from member
	 where u_status = 'Y'
	   and mno = #{memNo}
	</select>
	
	<update id="updatePwd">
		update
			   member
		   set user_pwd = #{userPwd}
		 where mno = #{memNo}
	</update>
	
	<update id="deleteMem">
		update
			   member
		   set u_status = 'N'
		 where user_id = #{userId}
	</update>
	
	<select id="checkNick" resultType="_int">
		select 
			   count(*)
  		  from member
 		 where nickname = #{nickName}
	</select>
	
	
<!-- 적립금/쿠폰 -->
	<select id="selectCouponCount" resultType="_int">
		select 
			   count(*)
		  from coupon
		 where mno = #{memNo}
	</select>
	
	<select id="selectCouponList" resultMap="myCouponResult">
		SELECT 
			   coupon.cno
		     , coupon.mno
		     , CNAME
		     , DISCOUNT
		     , to_char(coupon.dedate, 'YYYY-MM-DD') as "dedate"
		     , to_char(coupon.endate, 'YYYY-MM-DD') as "endate"
		  FROM COUPONLIST
		  JOIN COUPON ON (COUPON.CNO = COUPONLIST.CNO)
		 WHERE MNO = #{memNo}
		 ORDER
		    BY coupon.dedate DESC
	</select>
	
	<select id="selectPointCount" resultType="_int">
		select count(*)
		  from point
		 where mno = #{memNo}
	</select>
	
	<select id="selectPointSum" resultType="_int">
		select round(sum(p_price)*0.05) 
		  from point
		 where mno = #{memNo}
		   and status = 1
	</select>
	
	<select id="selectPointList" resultMap="pointResult">
		select 
		       pno
		     , mno
		     , type
		     , to_char(p_date, 'YYYY-MM-DD') as "p_date"
		     , (p_price)*0.05 as "p_price"
		     , reason
		     , to_char(deadline, 'YYYY-MM-DD') as "deadline"
		     , status
		  from point
		 where mno = #{memNo}
		   and status = 1
		 order
		 	by pno desc
	</select>
	
	<select id="PointMinusList" resultMap="pointResult">
		select 
		       pno
		     , mno
		     , type
		     , to_char(p_date, 'YYYY-MM-DD') as "p_date"
		     , p_price
		     , reason
		     , to_char(deadline, 'YYYY-MM-DD') as "deadline"
		     , status
		  from point
		 where mno = #{memNo}
		   and status = 2
		 order
		 	by pno desc
	</select>
	
	
<!-- 1:1문의 -->
	<select id="selectQnaCount" resultType="_int">
		select 
			   count(*)
		  from qna
		 where mno = #{memNo}
	</select>
	
	<select id="selectQnaList" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		 order
		    by qno desc
	</select>
	 
	<select id="myQnaWeekCount" resultType="_int">
		select
			   count(*)
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 7
	</select>
	
	<select id="myQnaWeek" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 7 
		 order
		    by qno desc
	</select>
	
	<select id="myQna2WeekCount" resultType="_int">
		select
			   count(*)
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 14 
	</select>
	
	<select id="myQna2Week" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 14
		 order
		    by qno desc
	</select>
	
	<select id="myQnaMonthCount" resultType="_int">
		select
			   count(*)
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 31
	</select>
	
	<select id="myQnaMonth" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 31
		 order
		    by qno desc
	</select>
	
	<select id="ajaxSearchQnaDate" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		   and create_date between #{sDate} and #{eDate}
		 order
		    by qno desc
	</select>
	
	
<!-- 클래스 -->
	<select id="selectMyClass" resultMap="myClassOrderResult">
		select
		       c_ono
		     , c.clno
		     , cl_name
		     , cl_img
		     , category
		  from class c   		
		  join class_order co on (c.clno = co.clno)
		 where co.mno = #{memNo}
		   and reading_status = 'Y'
		 order
		 	by c_ono desc
	</select>
	
	<select id="selectMyAllClass" resultMap="myClassOrderResult">
		select
		       c_ono
		     , c.clno
		     , cl_name
		     , cl_img
		     , category
		     , case when reading_status = 'Y' then '수강중'
		     	    when reading_status = 'N' then '수강전'
		     		when reading_status = 'E' then '수강종료' end as reading_status
		  from class c   		
		  join class_order co on (c.clno = co.clno)
		 where co.mno = #{memNo}
		 order
		 	by c_ono desc
	</select>
	
	<select id="likeClassCount" resultType="_int">
		select count(*)
		  from like_item
		 where mno = #{memNo}
		   and gb_no = 1
	</select>
	
	<select id="selectLikeClass" resultMap="myClassResult">
		select 
		       distinct clno
		     , l.mno as "mno"
		     , cl_name
		     , cl_price
		     , to_char(cl_date, 'YYYY-MM-DD') as "cl_date"
		     , cl_img
		  from class c
		  join like_item l on (c.clno = l.refer_no)
		  where l.mno = #{mno}
		  order 
		     by clno
	</select>
	
	<select id="classReviewCount" resultType="_int">
	select count(*)
	  from class_review
	 where mno = #{mno}
	</select>
	
	<select id="classReviewList" resultMap="classReviewResult">
		select
			   c_rno
		     , class_review.clno as "clno"
		     , class_review.mno as "mno"
		     , class.cl_name
		     , content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , cl_img
		     , case when star <![CDATA[<=]]> 5 and star <![CDATA[>]]> 4 then '★★★★★'
		     		when star <![CDATA[<=]]> 4 and star <![CDATA[>]]> 3 then '★★★★☆'
		     		when star <![CDATA[<=]]> 3 and star <![CDATA[>]]> 2 then '★★★☆☆'
		     		when star <![CDATA[<=]]> 2 and star <![CDATA[>]]> 1 then '★★☆☆☆'
		     	    when star <![CDATA[<=]]> 1 then '★☆☆☆☆'  end as star
		  from class_review
		  join class on (class_review.clno = class.clno)
		  where class_review.mno = #{mno}
		  order 
		     by c_rno desc
	</select>
	
	<select id="classQnaCount" resultType="_int">
		select count(*)
		  from cs_qna cs
		  join class c on ( cs.refer_no = c.clno)
		 where cs.mno = #{memNo} 
		   and cs.gb_no = 1
		   and cs.status = 'Y'
		   and cl_status = 'Y'
	</select>
	
	<select id="classQnaList" resultMap="csResult">
		select 
		       cs_qno
		     , cs.mno
		     , gb_no
		     , refer_no
		     , cs.title
		     , content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , filepath
		     , cs.status
		     , answer_content
		     , answer_date
		     , cl_name as "cl_name"
		  from cs_qna cs
		  join class c on ( cs.refer_no = c.clno)
		 where cs.mno = #{memNo}
		   and gb_no = 1
		   and cs.status = 'Y'
		   and cl_status = 'Y'
		 order 
		    by cs_qno desc
	</select>
	
	<select id="ajaxClassQna" resultMap="csResult">
		select 
		       cs_qno
		     , cs.mno
		     , gb_no
		     , refer_no
		     , cs.title
		     , content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , filepath
		     , cs.status
		     , answer_content
		     , to_char(answer_date, 'YYYY-MM-DD') as "answer_date" 
		     , cl_name as "cl_name"
		  from cs_qna cs
		  join class c on ( cs.refer_no = c.clno)
		 where cs.cs_qno = #{csQno}
		   and gb_no = 1
		   and cs.status = 'Y'
		   and cl_status = 'Y'
		 order 
		    by cs_qno desc
	</select>
	
	
	
<!-- 스토어 -->
	<select id="likeProductCount" resultType="_int">
		select count(*)
		  from like_item
		 where mno = #{memNo}
		   and gb_no = 2
	</select>
	
	<select id="selectLikeProduct" resultMap="storeResult">
		select 
		       pno
		     , s.mno as "mno"
		     , title
		     , price
		     , img1
             , status
		  from store s
		  join like_item l on (s.pno = l.refer_no)
		  where l.mno = #{memNo} 
	</select>
	
	<select id="shoppingQnaCount" resultType="_int">
		select count(*)
		  from cs_qna
		 where mno = #{memNo} 
		   and gb_no = 2
	</select>
	 
	<select id="shoppingQnaList" resultMap="csResult">				  
		select 
		       cs_qno
		     , cs.mno
		     , gb_no
		     , refer_no
		     , cs.title
		     , content
		     , create_date
		     , filepath
		     , cs.status
		     , answer_content
		     , answer_date
		     , s.title as "pro_title"
		  from cs_qna cs
		  join store s on ( cs.refer_no = s.pno)
		 where cs.mno = #{memNo}
		   and gb_no = 2
		   and cs.status = 'Y'
           and s.status = 'Y'
		 order 
		    by cs_qno desc
	</select>
	
	<select id="ajaxShoppingQna" resultMap="csResult">
		select 
		       cs_qno
		     , cs.mno
		     , gb_no
		     , refer_no
		     , cs.title
		     , content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , filepath
		     , cs.status
		     , answer_content
		     , to_char(answer_date, 'YYYY-MM-DD') as "answer_date" 
		     , s.title as "pro_title"
		  from cs_qna cs
		  join store s on ( cs.refer_no = s.pno)
		 where cs.cs_qno = 20
		   and gb_no = 2
		   and cs.status = 'Y'
		   and s.status = 'Y'
		 order 
		    by cs_qno desc
	</select>
	
	<select id="shoppingReviewCount" resultType="_int">
		select count(*)
		  from s_review
		 where mno = #{memNo}
	</select>
	
	<select id="shoppingReviewList" resultMap="storeReviewResult">
		select
			   rno
	       	 , title
		     , content
		     , img1
		     , review_date
		     , case when star_rating <![CDATA[<=]]> 5 and star_rating <![CDATA[>]]> 4 then '★★★★★'
		    		when star_rating <![CDATA[<=]]> 4 and star_rating <![CDATA[>]]> 3 then '★★★★☆'
		    		when star_rating <![CDATA[<=]]> 3 and star_rating <![CDATA[>]]> 2 then '★★★☆☆'
		    		when star_rating <![CDATA[<=]]> 2 and star_rating <![CDATA[>]]> 1 then '★★☆☆☆'
		    	    when star_rating <![CDATA[<=]]> 1 then '★☆☆☆☆'  end as star_rating
		  from s_review r
		  join store s using(pno)
		 where r.mno = 5
		   and r.status = 'Y'
	       and s.status = 'Y'
		 order 
			by review_date desc
	</select>
	
	<select id="shoppingCount" resultType="_int">
		select count(*)
		  from pay
		 where mno = #{memNo}
	</select>
	
	<select id="shoppingList" resultMap="storePayResult">
		select
		       order_no
		     , p.mno
		     , address
		     , pay_amount
		     , pay_date
		     , pay_method
		     , order_status
		     , pay_status
		     , p.pno
		     , title
		     , img1
		  from pay p 
		  join store s on (p.pno = s.pno)
		 where p.mno = #{memberNo}
		 order
		    by order_no desc
	</select>
	
	<select id="selectShopping" resultMap="storePayResult">
		select
		       order_no
		     , p.mno
		     , address
		     , pay_amount
		     , pay_date
		     , pay_method
		     , order_status
		     , pay_status
		     , p.pno
		     , title
		     , img1
		  	 , user_name
		  	 , phone
		  from pay p 
		  join store s on (p.pno = s.pno)
          join member m on (p.mno = m.mno)
		 where order_no = #{orderNo}
		 order
		    by order_no desc
	</select>
	
	<select id="searchShoppingList" resultMap="storePayResult">
		select
		       order_no
		     , p.mno
		     , address
		     , pay_amount
		     , pay_date
		     , pay_method
		     , order_status
		     , pay_status
		     , p.pno
		     , title
		     , img1
		  from pay p 
		  join store s on (p.pno = s.pno)
		 where p.mno = #{memberNo}
		   and pay_date between sysdate - #{payDate} and sysdate
		 order
		    by order_no desc	
	</select>
	
	<select id="ajaxSearchDate" resultMap="storePayResult">
		select
		       order_no
		     , p.mno
		     , address
		     , pay_amount
		     , pay_date
		     , pay_method
		     , order_status
		     , pay_status
		     , p.pno
		     , title
		     , img1
		  from pay p 
		  join store s on (p.pno = s.pno)
		 where p.mno = #{memberNo}
		   and pay_date between #{startDate} and #{endDate}
		 order
		    by order_no desc
	</select>
	
	<resultMap id="myVideoResult" type="Video">
		<result column="clNo" property="clNo" />
		<result column="video_no" property="videoNo" />
		<result column="category" property="category" />
		<result column="cl_name" property="clName" />
		<result column="chapter" property="chapter" />
		<result column="subchapter" property="subChapter" />
		<result column="video_address" property="videoAddress" />
	</resultMap>
	
	<select id="selectVideo" resultMap="myVideoResult">
		select
		       c.clno
		     , category
		     , cl_name
		     , video_no
		     , chapter
		     , subchapter
		     , video_address
		  from video v
		  join class c on (c.clno = v.clno)
		 where v.clno = #{clNo}
	</select>
	
</mapper>