<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myMapper">

	<resultMap id="myCouponResult" type="coupon">
		<result column="cno" property="couponNo" />
		<result column="mno" property="memNo" />
		<result column="CNAME" property="couponName" />
		<result column="DISCOUNT" property="discount" />
		<result column="dedate" property="dedate" />
		<result column="endate" property="endate" />
	</resultMap>
	
	<resultMap id="myQnaResult" type="Qna">
		<result column="qno" property="qnaNo" />
		<result column="mno" property="memNo" />
		<result column="nickname" property="nickName" />
		<result column="category" property="category" />
		<result column="q_title" property="qnaTitle" />
		<result column="q_content" property="qnaContent" />
		<result column="create_date" property="createDate" />
		<result column="password" property="pwd" />
		<result column="a_content" property="ansContent" />
		<result column="a_date" property="ansDate" />
	</resultMap>
	
	<update id="updateProfile">
		update
			   member
		   set nickname = #{nickName}
		   	 , phone = #{phone}
		   	 , profile = #{profileImg}
		 where mno = #{memNo}
	</update>
	
	<update id="updatePwd">
		update
			   member
		   set user_pwd = #{userPwd}
		 where mno = #{memNo}
	</update>
	
	<update id="deleteMem">
		update
			   member
		   set u_status = 'N'
		 where user_id = #{userId}
	</update>
	
	<select id="selectCouponCount" resultType="_int">
		select 
			   count(*)
		  from coupon
		 where mno = #{memNo}
	</select>
	
	<select id="selectCouponList" resultMap="myCouponResult">
		SELECT 
			   coupon.cno
		     , coupon.mno
		     , CNAME
		     , DISCOUNT
		     , to_char(coupon.dedate, 'YYYY-MM-DD') as "dedate"
		     , to_char(coupon.endate, 'YYYY-MM-DD') as "endate"
		  FROM COUPONLIST
		  JOIN COUPON ON (COUPON.CNO = COUPONLIST.CNO)
		 WHERE MNO = #{memNo}
	</select>
	
	<select id="selectQnaCount" resultType="_int">
		select 
			   count(*)
		  from qna
		 where mno = #{memNo}
	</select>
	
	<select id="selectQnaList" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		 order
		    by qno desc
	</select>
	 
	<select id="myQnaWeekCount" resultType="_int">
		select
			   count(*)
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 7
	</select>
	
	<select id="myQnaWeek" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 7 
		 order
		    by qno desc
	</select>
	
	<select id="myQna2WeekCount" resultType="_int">
		select
			   count(*)
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 14 
	</select>
	
	<select id="myQna2Week" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 14
		 order
		    by qno desc
	</select>
	
	<select id="myQnaMonthCount" resultType="_int">
		select
			   count(*)
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 31
	</select>
	
	<select id="myQnaMonth" resultMap="myQnaResult">
		select
		       qno
		     , category
		     , q_title
		     , q_content
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , a_content
		     , a_date
		  from qna
		 where mno = #{memNo}
		   and round(sysdate - create_date) <![CDATA[<=]]> 31
		 order
		    by qno desc
	</select>
	
	<select id="checkNick" resultType="_int">
		select 
			   count(*)
  		  from member
 		 where nickname = #{nickName}
	</select>
	
</mapper>