<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeMapper">

	<resultMap id="storeResult" type="Product">
	  	<result column="pno" property="productNo"/>
	  	<result column="mno" property="memberNo"/>
	  	<result column="category" property="category"/>
	  	<result column="title" property="title"/>
	  	<result column="price" property="price"/>
	  	<result column="stock" property="stock"/>
	  	<result column="endate" property="enDate"/>
	  	<result column="courier" property="courier"/>
	  	<result column="soldout_yn" property="soldoutYN"/>
	  	<result column="status" property="status"/>
	  	<result column="img1" property="productImg0"/>
	  	<result column="img2" property="productImg1"/>
	  	<result column="img3" property="productImg2"/>
	 	<result column="img4" property="productImg3"/>
	 	<result column="nickname" property="memberNo" />
	 	<result column="like_count" property="like" />
	 	<result column="likeck" property="likeCk" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from store
		 where status = 'Y'
	</select>
	
	<select id="selectList" resultMap="storeResult">
		select
			   pno
			 , nickname
			 , category
			 , title
			 , price
			 , courier
			 , soldout_yn
			 , status
			 , img1
			 , img2
			 , img3
			 , img4
			 , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and refer_no = pno
		        ) as like_count
		      , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and mno = #{memberNo} 
		           and refer_no = pno
		       ) as likeck
		  from store 
		  join member using (mno)
		 where status = 'Y'
		 order
		 	by pno desc
	</select>
	
	<select id="categorySearch" resultMap="storeResult">
		select
			   pno
			 , nickname
			 , category
			 , title
			 , price
			 , courier
			 , soldout_yn
			 , status
			 , img1
			 , img2
			 , img3
			 , img4
			 , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and refer_no = pno
		        ) as like_count
		     , 	(
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and mno = #{memberNo} 
		           and refer_no = pno
		       ) as likeck
		  from store 
		  join member using (mno)
		 where status = 'Y'
		   and category = #{category}
		 order
		 	by pno desc
		 	<!-- 
		 	   <c:if test=" sort == 4 ">
	   		        주문많은순
		 	   </c:if>
		 	   <c:if test=" sort == 5">
		 	   		찜 많은순
		 	   </c:if>
		 	   <c:if test=" sort == 6">
		 	   		찜 많은순
		 	   </c:if>
			 --> 
	</select>
	
	<select id="likeCheck" resultType="_int">
		select
			   count(*)
		  from like_item
		 where mno = #{memNo}
		   and refer_no = #{referNo}
	</select>
	
	<insert id="insertLike">
		insert
		  into like_item
		values
			 (
			   #{memNo}
			 , 2
			 , #{referNo}
			 )
	</insert>
	
	<delete id="deleteLike">
		delete 
		  from like_item
		 where mno = #{memNo}
		   and refer_no = #{referNo}
	</delete>
	
	
	<select id="selectProduct" resultMap="storeResult">
	   select
			   pno
			 , nickname
			 , category
			 , title
			 , price
			 , courier
			 , soldout_yn
			 , status
			 , img1
			 , img2
			 , img3
			 , img4
			 , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and refer_no = pno
		        ) as like_count
		  from store 
		  join member using (mno)
		 where status = 'Y'
		   and pno = ${ productNo }
		 order
		 	by pno desc
			   
	</select>
</mapper>
