<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeMapper">

	<resultMap id="storeResult" type="Product">
	  	<result column="pno" property="productNo"/>
	  	<result column="mno" property="memberNo"/>
	  	<result column="category" property="category"/>
	  	<result column="title" property="title"/>
	  	<result column="price" property="price"/>
	  	<result column="stock" property="stock"/>
	  	<result column="endate" property="enDate"/>
	  	<result column="courier" property="courier"/>
	  	<result column="soldout_yn" property="soldoutYN"/>
	  	<result column="status" property="status"/>
	  	<result column="img1" property="productImg0"/>
	  	<result column="img2" property="productImg1"/>
	  	<result column="img3" property="productImg2"/>
	 	<result column="img4" property="productImg3"/>
	 	<result column="nickname" property="nickname" />
	 	<result column="like_count" property="like" />
	 	<result column="likeck" property="likeCk" />
	 	<result column="quantity" property="quantity"/>
	</resultMap>
	
	<resultMap id="optionResult" type="ProductOption">
		<result column="opno" property="optionNo"/>
		<result column="pno" property="productNo"/>
		<result column="opname" property="optionName"/>
		<result column="price" property="price"/>
	</resultMap>
	
	<resultMap id="cartResult" type="Cart">
		<result column="pno" property="productNo"/>
	</resultMap>
	
	<resultMap id="sMemberResult" type="Member">
		<result column="mno" property="memNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_name" property="userName"/>
		<result column="nickname" property="nickName"/>
		<result column="phone" property="phone"/>
		<result column="profile" property="profileImg"/>
		<result column="point" property="point"/>
		<result column="grade" property="grade"/>
	</resultMap>
	
	<resultMap id="reviewResult" type="StoreReview">
		<result column="rno" property="reviewNo"/>
		<result column="pno" property="productNo"/>
		<result column="mno" property="memberNo"/>
		<result column="nickname" property="nickname"/>
		<result column="profile" property="profile"/>
		<result column="content" property="content"/>
		<result column="star_rating" property="rating"/>
		<result column="review_date" property="reviewDate"/>
		<result column="total" property="totalCount"/>
		<result column="star_avg" property="starAvg"/>
		<result column="status" property="status"/>
		<result column="reconum" property="reconum"/>
		<result column="recoCk" property="recoCk"/>
		<result column="filepath" property="img"/>
	</resultMap>
	
	<resultMap id="qnaResult" type="StoreQna">
		<result column="cs_qno" property="csQno"/>
		<result column="mno" property="memNo"/>
		<result column="gb_no" property="gbNo"/>
		<result column="refer_no" property="referNo"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="create_date" property="createDate"/>
		<result column="pwd" property="pwd"/>
		<result column="filepath" property="filePath"/>
		<result column="status" property="status"/>
		<result column="answer_content" property="answerContent"/>
		<result column="answer_date" property="answerDate"/>
		<result column="profile" property="profile"/>
		<result column="user_id" property="userId"/>
		<result column="category" property="category"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from store
		 where status = 'Y'
		   and title like '%' || #{keyword} || '%'
		   <choose>
		 		<when test="category == '1'">
		 			and category = 1
		 		</when>
		 		<when test="category == '2'">
		 			and category = 2
		 		</when>
		 		<when test="category == '3'">
		 			and category = 3
		 		</when>
		 		<otherwise>
		 		</otherwise>
		   </choose>
	</select>
	
	<select id="selectList" resultMap="storeResult">
		select
			   pno
			 , nickname
			 , category
			 , title
			 , price
			 , courier
			 , soldout_yn
			 , status
			 , img1
			 , img2
			 , img3
			 , img4
			 , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and refer_no = pno
		        ) as like_count
		      , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and mno = #{memberNo} 
		           and refer_no = pno
		       ) as likeck
		  from store 
		  join member using (mno)
		 where status = 'Y'
		   and title like '%' || #{keyword} || '%'
		 		   <choose>
				<when test="category == 1">
				   and category = 1
				</when>
				<when test="category == 2">
				   and category = 2
				</when>
				<when test="category == 3">
				   and category = 3
				</when>
				<otherwise>
				</otherwise>
		   </choose>
   		   <choose>
		   		<when test="array == 'like'">
					 order
					    by like_count desc
		   		</when>
		   		<when test="array == 'date'">
					 order
					    by pno desc
		   		</when>
		   		<when test="array == 'rev'">
					 order
					    by pno desc
		   		</when>
		   </choose>
	</select>
	
	<select id="storeNewList" resultMap="storeResult">
		select
			   pno
			 , nickname
			 , category
			 , title
			 , price
			 , courier
			 , soldout_yn
			 , status
			 , img1
			 , img2
			 , img3
			 , img4
			 , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and refer_no = pno
		        ) as like_count
		  from store 
		  join member using (mno)
		 where status = 'Y'
		 order
		 	by pno desc
	</select>
	
		<select id="storeHotList" resultMap="storeResult">
		select
			   pno
			 , nickname
			 , category
			 , title
			 , price
			 , courier
			 , soldout_yn
			 , status
			 , img1
			 , img2
			 , img3
			 , img4
			 , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and refer_no = pno
		        ) as like_count
		  from store 
		  join member using (mno)
		 where status = 'Y'
		 order
		 	by like_count desc
	</select>
	
	<select id="likeCheck" resultType="_int">
		select
			   count(*)
		  from like_item
		 where mno = #{memNo}
		   and refer_no = #{referNo}
	</select>
	
	<insert id="insertLike">
		insert
		  into like_item
		values
			 (
			   #{memNo}
			 , 2
			 , #{referNo}
			 )
	</insert>
	
	<delete id="deleteLike">
		delete 
		  from like_item
		 where mno = #{memNo}
		   and refer_no = #{referNo}
	</delete>
	
	
	<select id="selectProduct" resultMap="storeResult">
	   select
			   pno
			 , nickname
			 , category
			 , title
			 , price
			 , courier
			 , soldout_yn
			 , status
			 , img1
			 , img2
			 , img3
			 , img4
			 , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and refer_no = pno
		        ) as like_count
		     , (
		        select count(*)
		          from like_item
		         where gb_no = 2
		           and mno = #{memberNo}
		           and refer_no = pno
		       ) as likeck
		  from store 
		  join member using (mno)
		 where status = 'Y'
		   and pno = #{ productNo }
		 order
		 	by pno desc   
	</select>
	
	<select id="selectOption" resultMap="optionResult">
		select
			   OPNO
			 , OPNAME
	         , PRICE
		  from soption
		 where pno = #{pno}	
	</select>


	<select id="cartCheck" resultType="_int">
		select
			   count(*)
		  from cart
		 where mno = #{memberNo}
		   and pno = #{productNo}
	</select>
	
	<insert id="insertCart">
		insert
		  into cart
		values
			 (
			 SEQ_CANO.NEXTVAL
			 , #{memberNo}
			 , #{productNo}
			 , #{optionNo}
			 , 1
			 )
	</insert>
	
	<delete id="deleteCart">
		delete 
		  from cart
		 where mno = #{memberNo}
		   and pno = #{productNo}
	</delete>
	
	<update id="updateCart">
		update
			   cart
		   set quantity = (
		   				  select
                                 quantity
                            from cart
                           where mno = #{memberNo}
                             and pno = #{productNo}
                           ) + 1
		 where mno = #{memberNo}
		   and pno = #{productNo}
	</update>
	
	<select id="selectCartProduct" resultMap="storeResult">
	   select
			   pno
			 , nickname
			 , category
			 , title
			 , price
			 , courier
			 , img1
		  from store 
		  join member using (mno)
		 where status = 'Y'
		   and pno = #{ productNo }
	</select>
	
	<select id="selectCart" resultMap="cartResult">
		select
			   pno
			 , opno
			 , quantity
		  from cart
		 where mno = #{memberNo}
	</select>
	
	<select id="selectCartOption" resultMap="optionResult">
		select
		       pno
		     , opname
		     , price
		  from soption
		 where opno = #{optionNo}
	</select>
	
		<select id="selectStoreReviewList" resultMap="reviewResult">
		select 
			   r.rno
		     , r.pno
		     , filepath
		     , nickname
		     , profile
		     , r.content
		     , r.star_rating
		     , to_char(r.review_date, 'YYYY-MM-DD') as review_date
		     , status
   		     , (
		        select count(*)
		          from recommend
		         where gb_no = 2
		           and refer_no = rno
		        ) as reconum
		  from s_review r
          join member using (mno)
		 where status = 'Y'
		   and pno = #{pno}
	     order
   			by review_date desc
	</select>

	<select id="selectStoreReviewMainList" resultMap="reviewResult">
		select r.rno
		     , r.pno
		     , filepath
		     , nickname
		     , profile
		     , r.content
		     , r.star_rating
		     , to_char(review_date, 'YYYY-MM-DD') as review_date
		     , r.status
		     , (
		        select count(*)
		          from recommend
		         where gb_no = 2
		           and refer_no = rno
		        ) as reconum
		  from s_review r
          join member using (mno)
		 where status = 'Y'
		   and pno = #{pno}
		 order
		    by reconum desc
	</select>
	
	
	<select id="selectReviewList" resultMap="reviewResult">
 		select
 				r.rno
              , r.mno
			  , m.nickname
			  , r.filepath
			  , m.profile
			  , r.content
			  , r.star_rating
			  , r.review_date
			  , (
		         select count(*)
		           from recommend
		          where gb_no = 2
		            and mno = #{memberNo}
		            and refer_no = rno
		         ) as recoCk
		      ,  (
		         select count(*)
		           from recommend
		          where gb_no = 2
		            and refer_no = rno
		          ) as reconum
	      from s_review r
	      join member m on (m.mno = r.mno)
	     where pno = #{productNo}
           and status = 'Y'
	</select>
	
	<select id="selectReviewCount" resultMap="reviewResult">
		    select 
		           count(*) as total
		         , nvl((TRUNC((avg(star_rating)-0.1)*2)/2 + 0.5),0) as star_avg
		      from s_review 
		     where pno = #{pno}
	</select>
	
	<select id="selectReviewListCount" resultType="_int">
		select
			   count(*)
		  from s_review
		 where status = 'Y'
		   and pno = #{pno}
	</select>
	
	<insert id="insertReview">
		insert
		  into s_review
		values
			 (
			   SEQ_SRNO.NEXTVAL
			 , #{memberNo}
			 , #{productNo}
			 , #{content}
			 , #{rating}
			 , SYSDATE
			 , 'Y'
			 <choose>
			 	<when test="img != null">
			 		, #{img}
			 	</when>
			 	<otherwise>
			 		, null
			 	</otherwise>
			 </choose>
			 )
	</insert>
	
	<select id="checkRecommend" resultType="_int">
		select count(*)
		  from recommend
		 where gb_no = 2
		   and refer_no = #{reviewNo}
		   and mno = #{memberNo}
	</select>
	
	<delete id="deleteRecommend">
		delete 
		  from recommend
		 where mno = #{memberNo}
		   and refer_no = #{reviewNo}
	</delete>
	
	<insert id="insertRecommend">
		insert
		  into recommend
		values
			 (
			   #{memberNo}
			 , 2
			 , #{reviewNo}
			 )
	</insert>
	
	<insert id="insertReport">
		insert
		  into report
		values
			 (
			   seq_rpno.nextval
			 , #{reportMemNo}
		     , 'SR'
			 , #{refBNo}
			 , #{content}
			 , 'y'
			 , SYSDATE
			 )
	</insert>
	
	<select id="selectStoreQnaList" resultMap="qnaResult">
		select
		       CS_QNO
		     , MNO
		     , user_id
     		 , profile
		     , GB_NO
		     , REFER_NO
		     , TITLE
		     , CONTENT
		     , to_char(create_date, 'YYYY-MM-DD') as create_date
		     , PWD
		     , FILEPATH
		     , STATUS
		     , ANSWER_CONTENT
		     , ANSWER_DATE
		  from cs_qna
		  join member using (mno)
		 where refer_no = #{pno}
	</select>
	
	<select id="selectQnaListCount" resultType="_int">
		select
			   count(*)
		  from cs_qna
		 where status = 'Y'
		   and gb_no = 2
		   and refer_no = #{pno}
	</select>
	
	<insert id="insertQna">
		insert
		  into cs_qna
		values
			 (
			   SEQ_CSQNO.NEXTVAL
			 , #{memNo}
			 , 2
			 , #{referNo}
			 , '(' || #{category} || ')' || #{title}
			 , #{content}
			 , sysdate
			 <choose>
			 	<when test="pwd != null">
			 		, #{pwd}
			 	</when>
			 	<otherwise>
			 		, null
			 	</otherwise>
			 </choose>
			 , null
			 , 'Y'
			 , null
			 , null
			 )
	</insert>
	
	<select id="storeQnaPwdCheck" resultType="_int">
		select count(*)
		  from cs_qna
		 where STATUS = 'Y'
		   and PWD = #{pwd}
		   and cs_qno = #{csQno}
	</select>
	
	<select id="selectMember" resultMap="sMemberResult">
		SELECT
			  MNO
			, USER_ID
			, USER_PWD
			, USER_NAME
			, NICKNAME
			, PHONE
			, PROFILE
			, POINT
			, GRADE
			, U_STATUS
		 FROM MEMBER
		WHERE U_STATUS = 'Y'
		  AND MNO = #{memberNo}
	</select>
	
	<select id="selectPo" resultMap="optionResult">
	       select
                  OPNO
                , PNO
                , OPNAME
                , PRICE
             from soption
            where pno = #{pno}
	</select>
	
	<update id="reviewUpdate">
		update 
	           s_review 
	       set content=#{content}, 
	       	   star_rating=#{rating}, 
	       	 <choose>
			 	<when test="img != null">
			 		filepath=#{img}
			 	</when>
			 	<otherwise>
			 		filepath=null
			 	</otherwise>
			 </choose>
	     where rno = #{reviewNo}
	</update>
	
	<delete id="reviewDelete">
		DELETE 
		  FROM s_review
		 WHERE rno = #{rno}
	</delete>
	
	<select id="selectReview" resultMap="reviewResult">
		select
		       RNO
			 , MNO
			 , PNO
			 , CONTENT
			 , STAR_RATING
			 , REVIEW_DATE
			 , STATUS
			 , FILEPATH
		  from s_review
		 where rno = #{rno}
	</select>
	
	<select id="selectQna" resultMap="qnaResult">
		select
			   CS_QNO
			 , MNO
			 , GB_NO
			 , REFER_NO
			 , TITLE
			 , CONTENT
			 , CREATE_DATE
			 , PWD
			 , FILEPATH
			 , STATUS
			 , ANSWER_CONTENT
			 , ANSWER_DATE
		  from cs_qna
		 where cs_qno = #{csQno}
	</select>
	
	
</mapper>