<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//E" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcclassMapper">

	<resultMap id="classResult" type="Class">
		<result column="clno" property="clNo" />
		<result column="mno" property="memNo" />
		<result column="category" property="category" />
		<result column="cl_name" property="clName" />
		<result column="cl_content" property="clContent" />
		<result column="cl_date" property="clDate" />
		<result column="cl_price" property="clPrice" />
		<result column="kit" property="kit" />
		<result column="cl_img" property="clImg" />
		<result column="cl_img2" property="clImg2" />
		<result column="cl_img3" property="clImg3" />
		<result column="cl_kitimg" property="clKitImg" />
		<result column="hashtag" property="hashtag" />
		<result column="count" property="count" />
		<result column="nickname" property="memNo" />
		<result column="like_count" property="like" />
		<result column="cl_status" property="clStatus" />
		<result column="reason" property="reason" />
	</resultMap>
	
	<resultMap id="classReviewResult" type="ClassReview">
		<result column="c_rno" property="crNo" />
		<result column="clno" property="clNo" />
		<result column="mno" property="memNo" />
		<result column="user_name" property="userName" />
		<result column="nickname" property="nickName" />
		<result column="content" property="content" />
		<result column="star" property="star" />
		<result column="filepath" property="filePath" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="reconum" property="recommend" />
		<result column="replynum" property="replyNum" />
		<result column="cl_name" property="clName" />
		<result column="reviewsum" property="reviewsum" />
	</resultMap>
	
	<resultMap id="classReviewReplyResult" type="Reply">
		<result column="reply_no" property="replyNo" />
		<result column="mno" property="memNo" />
		<result column="board_no" property="boardNo" />
		<result column="content_no" property="contentNo" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_date" property="replyDate" />
		<result column="reply_status" property="replyStatus" />
		<result column="nickname" property="nickName" />
	</resultMap>
	
	<resultMap id="classQnaResult" type="ClassQna">
		<result column="cs_qno" property="csQnaNo" />
		<result column="mno" property="memNo" />
		<result column="nickname" property="nickname" />
		<result column="gb_no" property="gbNo" />
		<result column="refer_no" property="referNo" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="create_date" property="createDate" />
		<result column="pwd" property="pwd" />
		<result column="filepath" property="filePath" />
		<result column="status" property="status" />
		<result column="answer_content" property="answerContent" />
		<result column="answer_date" property="answerDate" />
		<result column="cl_name" property="clName" />
		<result column="profile" property="profile" />
		<result column="teacher_nick" property="teacherNick" />
		<result column="teacher_profile" property="teacherProfile" />
	</resultMap>

	<select id="myClassList" resultMap="classResult">
		select
		       clno
		     , category
		     , cl_name
		     , cl_content
		     , cl_img
		     , count
		     , cl_status
		  from class
		 where mno = #{memNo}
		 order
		    by decode(cl_status,'Y', 1) asc
	</select>
	
	<update id="endClass">
		update class
		   set cl_status = 'D'
		 where clno = #{clNo}
	</update>
	
	<insert id="insertClass">
  		insert 
		  into class
		     (
		       clno
		     , mno
		     , category
		     , cl_name
		     , cl_content
		     , cl_date
		     , cl_price
		     , kit
		     , cl_status
		     , cl_img
		     , cl_img2
		     , cl_img3
		     , cl_kitimg
		     , hashtag
             , count
             , reason
		     )
		 VALUES
		    (
		      SEQ_CLNO.NEXTVAL
		    , #{memNo}
		    , #{category}
		    , #{clName}
		    , #{clContent}
		    , sysdate
            , #{clPrice}
		    , #{kit}
		    , 'N'
		    , #{clImg}
		    , #{clImg2}
		    , #{clImg3}
		    , #{clKitImg}
            , #{hashtag}
		    , 0
		    , #{reason}
		    ) 
  	</insert>
  	
  	<select id="updateClassForm" resultMap="classResult">
		select
		       clno
		     , category
		     , cl_name
		     , cl_content
             , cl_date
             , cl_price
             , kit
		     , cl_img
             , cl_img2
             , cl_img3
             , cl_kitimg
             , hashtag
		  from class
		 where clno = #{clNo}
	</select>
  	
  	<update id="updateClass">
  		update class
		   set  category = #{category}
		      , cl_content = #{clContent}
		      , cl_date = sysdate
              , kit = #{kit}
		      , cl_img = #{clImg}
		      , cl_img2 = #{clImg2}
		      , cl_img3 = #{clImg3}
		      , cl_kitimg = #{clKitImg}
              , hashtag = #{hashtag}
		 where clno = #{clNo}
  	</update>
  	
  	<select id="myClassReviewList" resultMap="classReviewResult">
		select 
			   c.clno       
             , cl_name
             , c_rno
		     , content
		     , star
		     , filepath
		     , status
             , (
		        select count(*)
		          from class_review cr
                  join class c on (c.clno = cr.clno)
                 where status = 'Y'
                   and CL_STATUS = 'Y'
                   and c.mno = #{memNo}
		        ) as reviewsum
		  from class_review cr
          join class c on (c.clno = cr.clno)
		 where status = 'Y'
           and CL_STATUS = 'Y'
		   and c.mno = #{memNo}
	     order
   			by c_rno desc
	</select>
	
	<select id="tcQnaListCount" resultType="_int">
		select count(*)
		  from cs_qna q
          join class c on (c.clno = q.refer_no)
          join member m on (m.mno = q.mno)
		 where status = 'Y'
           and gb_no = 1
           and c.mno = #{memNo}
	</select>
	
	<select id="myClassQnaList" resultMap="classQnaResult">
		select        
               cs_qno
             , cl_name
             , nickname
		     , content
		     , refer_no
		     , title
		     , to_char(create_date, 'YYYY-MM-DD') as create_date
             , status
             , answer_content
		  from cs_qna qr
          join class c on (c.clno = qr.refer_no)
          join member m on (m.mno = qr.mno)
		 where status = 'Y'
           and gb_no = 1
		   and c.mno = #{memNo}
	     order
   			by cs_qno desc
	</select>
	
	<select id="selectTcQnaDetail" resultMap="classQnaResult">
		select        
               cs_qno
             , cl_name
             , nickname
		     , content
		     , refer_no
		     , title
		     , to_char(create_date, 'YYYY-MM-DD') as create_date
             , status
             , answer_content
             , filepath
             , profile
             , (
                select nickname
                  from member
                  join class using (mno)
                 where clno = refer_no
                ) as teacher_nick
             , (
                select profile
                  from member
                  join class using (mno)
                 where clno = refer_no
                ) as teacher_profile
		  from cs_qna qr
          join class c on (c.clno = qr.refer_no)
          join member m on (m.mno = qr.mno)
		 where status = 'Y'
           and gb_no = 1
		   and cs_qno = #{csQnaNo}
	     order
   			by cs_qno desc
	</select>
	
	<update id="qnaInsertRf">
		update cs_qna
		   set answer_content = #{answerContent}
		 where cs_qno = #{csQnaNo}
	</update>
	
		
</mapper>
