<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcmyMapper">

	<resultMap id="myQnaResult" type="Qna">
		<result column="qno" property="qnaNo" />
		<result column="mno" property="memNo" />
		<result column="nickname" property="nickName" />
		<result column="category" property="category" />
		<result column="q_title" property="qnaTitle" />
		<result column="q_content" property="qnaContent" />
		<result column="create_date" property="createDate" />
		<result column="password" property="pwd" />
		<result column="a_content" property="ansContent" />
		<result column="a_date" property="ansDate" />
	</resultMap>
	
	<resultMap id="myClassResult" type="Class">
		<result column="clNo" property="clNo" />
		<result column="mNo" property="memNo" />
		<result column="category" property="category" />
		<result column="cl_name" property="clName" />
		<result column="cl_date" property="clDate" />
		<result column="cl_price" property="clPrice" />
		<result column="cl_status" property="clStatus" />
		<result column="cl_img" property="clImg" />
		<result column="like" property="like" />
	</resultMap>
	
	<resultMap id="classReviewResult" type="ClassReview">
		<result column="c_rno" property="crNo" />
		<result column="clno" property="clNo" />
		<result column="mno" property="memNo" />
		<result column="content" property="content" />
		<result column="star" property="star" />
		<result column="filepath" property="filePath" />
		<result column="create_date" property="createDate" />
		<result column="status" property="status" />
		<result column="reconum" property="recommend" />
		<result column="cl_name" property="clName" />
		<result column="cl_img" property="img" />
	</resultMap>
	

	
</mapper>