@charset "UTF-8";

/* 전체 감싸는 div */
.wrapper{
    width: 1500px;
    height: auto;
}

/* 사이드바 div */
.side{
    width: 15%;
    height: 100%;
    background-color: ghostwhite;
    float: left;
    padding : 5px;
}

/* 내용 div */
.contentArea{
    width: 85%;
    height: 100%;
    float: left;
}

/* 관리자1 표시 */
#header{margin-left: 1150px; height: 5%;}

/* 사이드바 스타일 */
#menu div{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}
#menu li{ list-style: none; }
#menu p{
    font-weight: bolder;
    font-size: 18px;
    color: rgb(107, 171, 213);
    margin-left: 15px;
    margin-bottom: 5px;
}
#menu a{
    text-decoration: none;
    float: left;
    color: grey;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
}
#menu a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

/* 사이트바 검색창 */
#search input{width: 100px; margin-left: 15px;}