@charset "UTF-8";

    div{box-sizing: border-box;}
	.head>p{
		text-align: center; 
		font-size: 40px; 
		font-weight: 800;
		color: rgb(107, 171, 213);
	}
    .button{padding-left: 70px;}
	.button>button{
		width: 180px; 
		margin: 0 auto; 
		margin-left: 70px;
		background: rgb(224, 224, 224); 
	}
	.content{
	    width: 100%;
	    height: 100%;
	    margin: auto;
	    margin-top: 20px;
	}
	table{
	    width: 90%;
	    text-align: center;
	}
	#paging{width:fit-content; margin:auto;}
	.content button{background: rgb(107, 171, 213); color: whitesmoke;}
	button:hover{background: rgb(107, 171, 213, 0.2)}