@charset "UTF-8";

    div{box-sizing: border-box;}
	.head>p{
		text-align: center; 
		font-size: 40px; 
		font-weight: 800;
		color: rgb(107, 171, 213);
	}
    .button{padding-left: 70px;}
	.button>button{width: 180px; margin: 0 auto; margin-left: 70px;}
	.content{
	    width: 100%;
	    margin: auto;
	    margin-top: 20px;
	}
	table{
	    width: 100%;
	    text-align: center;
	}
	.paging{margin-bottom: 50px;}